DB_HOST=<MongoDB Connection String; Create Cluster on MongoDB Atlas>
PORT=
SECRET_KEY==<add JWT secret here>
DB_TEST_URI=<please insert here mongodb test>
BASE_URL
MAILTRAP_USER=<mailtrap user>
MAILTRAP_PASS=<mailtrap password>
HOST_EMAIL=<host for email>
MAIL_SENDER=<mail sender address>