DB_HOST=<MongoDB Connection String; Create Cluster on MongoDB Atlas>
PORT=
SECRET_KEY=<add JWT secret here>
CLOUDINARY_NAME=<cloudinary Cloud Name>
CLOUDINARY_KEY=<cloudinary API KEY>
CLOUDINARY_SECRET=<cloudinary API secret>

GOOGLE_CLIENT_ID=<google Credentials>
GOOGLE_CLIENT_SECRET=<google Credentials>

BASE_URL=<server URI>
